:root {
  /* site colors */
  --background-color: aliceblue;
  --font-color: #505050;
  --footer-background-color: #d8ecfd;

  /* card */
  --card-title-background-color: #e8e8e8;
  --card-border-color: #e4e4e4;

  /* standard colors */
  --white-color: white;
  --black-color: black;
  --gray-color: #808080;

  /* social media */
  --facebook-color: #3B5998;
  --twitter-color: #55ACEE;
  --instagram-color: #125688;
  --snapchat-color: #fffc00;
  --linkedin-color: #007bb5;
}