:root {
  /* site colors */
  --background-color: aliceblue;
  --form-background: #525252;

  /* standard colors */
  --white-color: white;
  --black-color: black;

  /* social media */
  --facebook-color: #3B5998;
  --twitter-color: #55ACEE;
  --instagram-color: #125688;
  --snapchat-color: #fffc00;
  --linkedin-color: #007bb5;
}