.navigation-item-link {
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 100%;
  color: var(--font-color);
  text-align: left;
  text-decoration: none;
  font-size: 15px;
}

.navigation-item-link:hover {
  color: var(--black-color);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navigation-item-link {display: none;}
}
