.card {
  max-width: 400px;
  margin: 20px;
  background-color: var(--white-color);
  border: 1px solid var(--card-border-color);
}

.card-title-style {
  text-align: center;
  padding-top: 20px;
  background-color: aliceblue;
  
}

.card-title-heading {
  margin-bottom: 20px;
}

.card-body-style {
  padding: 20px;
  text-align: justify;
}