.form {
  max-width: 300px;
  padding: 20px;
  background-color: var(--white-color);
  border: 1px solid var(--card-border-color);
}

.label {
  display: block;
  margin: 20px 0;
  text-align: left;
}

.input,
.textarea {
  display: block;
  width: 100%;
}

.textarea {
  height: 100px;
}

.required-asterisk {
  color: var(--red-color);
  font-size: 12px;
}

.form-error {
  color: var(--red-color);
  font-size: 14px;
}