.bold {
  font-weight: 800;
}

.spaced-section {
  margin: 50px 0;
}

.centered {
  text-align: center;
}

.circular-image {
  border-radius: 50%;
}

.width100 {
  width: 100%;
}

.paragraph {
  margin-bottom: 20px;
}

.img-shadow {
  box-shadow: 5px 5px 5px var(--gray-color);
}

.page-heading {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}