.testimonial-container {
  background-color: var(--white-color);
  max-width: var(--testimonial-max-width);
  margin: 0 auto;
  padding: 20px;
}

.image {
  box-shadow: 2px 2px 5px var(--gray-color);
}

@media screen and (max-width: 500px) {
  .testimonial-container {
    margin: 0 20px;
  }
}
