.testimonials-container {
  display: flex;
  justify-content: center;
}

.testimonial-container {
  background-color: var(--white-color);
  border: 1px solid var(--card-border-color);
  width: 250px;
  margin: 20px;
  padding: 20px;
}

.image {
  box-shadow: 2px 2px 5px var(--gray-color);
}
